<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="myForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Número de control</ion-label>
        <ion-input type="text" formControlName="controlNumber"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('controlNumber').errors && (myForm.get('controlNumber'
      ).dirty || myForm.get('controlNumber').touched || submitted)">
        <ion-label color="danger">Número de Control erróneo</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('name').errors && (myForm.get('name'
      ).dirty || myForm.get('name').touched || submitted)">
        <ion-label color="danger">Nombre erróneo</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="saveStudent()" expand="block" shape="round">
      Guardar
    </ion-button>
  </form>
</ion-content>
